/* Custom Properties */

:root{
    --menubar-bg-color: #051e34;
    --sky-blue-bg-color: #1b72e8;
    --menubar-lg-width: 150px;
    --menubar-xs-width: 80px;
}

/* Header */

header{
    background-color: black;
    height: 80px;
}

header img{
    width: 50px;
}

header .fa-bell{
    color: orange;
}

.dropstart .dropdown-menu[data-bs-popper] {
    top: 25px;
    right: 10%;
}

.form-control:focus{
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}

/* Menubar */

#menubar {
    width: var(--menubar-xs-width);
    height: calc(100vh - 80px);
    background-color: var(--menubar-bg-color);
    background-image: url(../img/sidebar-bg.png);
}

.icon {
    padding: 10px;
}

.icon a {
    text-decoration: none;
}
.icon i{
    width: 20px;
}

.icon span {
    margin-left: 15px;
}

#menubar .icon:hover{
    background-color: rgba(255, 255, 255, .5);
}

/* Dashboard */

#dashboard {
    height: calc(100vh - 80px);
    background-color: #f8f9fa;
    width: calc(100vh - 80px);
    overflow-y: auto;
}

.offcanvas.offcanvas-end{
    width: 100%;
}

/* Table */

.fa-code{
    width: 30px;
    height: 30px;
    background-color: #f26551;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

tbody tr:hover{
    background-color: #f7f7f7;
}

/* Utilities */

.bg-white{
    background-color: white;
}

.bg-grey{
    background-color: #e5e5e5;
}

.bg-badge-blue{
    background-color:#165bba;
}

.bg-sky-blue{
    background-color:var(--sky-blue-bg-color);
}

.bg-light-grey{
    background-color: #f7f7f7;
}

/* Laptop */

@media screen and (min-width: 992px) {
    
    #menubar{
        width: var(--menubar-lg-width);
        
    }

    header img{
      width: 150px;
      
    }

    #dashboard {
        width: calc(100vw - 150px);
    }

    .offcanvas.offcanvas-end{
        width: 50%;
    }
}