/* Custom Properties */

:root{
    --menubar-bg-color: #051e34;
    --sky-blue-bg-color: #1b72e8;
    --menubar-lg-width: 150px;
    --menubar-xs-width: 80px;
}

/* Header */

header{
    background-color: black;
}

header img{
    width: 50px;
}

header .fa-bell{
    color: orange;
}

#menubar {
    width: var(--menubar-xs-width);
    height: calc(100vh - 80px);
    background-color: red;
}

#dashboard {
    height: calc(100vh - 80px);
    background-color: #555;
    width: 100%;
    overflow-y: auto;
}

.bg-white{
    background-color: white;
}

.bg-grey{
    background-color: #e5e5e5;
}